@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inputText {
  display: inline-flex;
  width: 280px;
  height: 40px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid var(--border-border-border, #e4e4e7);
}

.addFlex {
    display: flex;
    margin: 10px;
  }

.addBtn {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 0;
  background-color: #3c82f6;
  color: white;
  margin-left: 10px;
}

.taskFlex .addText{
  font-family: Inter serif;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
text-decoration-skip-ink: none;
margin-left: 3px;
width: 150gpx;
}

/* :root {
  --delbck: #FEF2F2;
  --deltxt: #EF4444;
  --edtbck: #3C82F6;
  --edttxt:#FA83F1;
}      global.css deer bichne*/   

.changeBtn{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
text-align: left;
text-decoration-skip-ink: none;
/* background-color: var(--delbck #FEF2F2, --edtbck  #3C82F6);
color: var(--deltxt #EF4444,--edttxt#FA83F1); */   
border: 1px;
padding: 6px 12px 6px 12px;
margin-left: 6px;
border-radius: 6px;
opacity: 0px;
}

.taskFlex{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f8fafc;
width: 345px;
height: 62px;
padding: 16px;
margin-bottom: 20px;
border-radius: 6px;
}